In [1]:
import findspark
import pyspark.sql.functions as F
findspark.init()
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.window import Window

spark = SparkSession.builder.appName("MySparkApp").getOrCreate()

df1 = spark.createDataFrame([("P","X",1),("P","Y",2),("P","X",3),("Q","Y",4),("Q","Z",5)],["A","B","C"])

In [2]:
df1.show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  P|  X|  1|
|  P|  Y|  2|
|  P|  X|  3|
|  Q|  Y|  4|
|  Q|  Z|  5|
+---+---+---+

In [3]:
df1.createOrReplaceTempView("df1")

In [4]:
spark.sql("select * from df1").show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  P|  X|  1|
|  P|  Y|  2|
|  P|  X|  3|
|  Q|  Y|  4|
|  Q|  Z|  5|
+---+---+---+

In [6]:
spark.sql("select * from df1 PIVOT(SUM(C) FOR B IN ('X','Y','Z'))").show()

+---+----+---+----+
|  A|   X|  Y|   Z|
+---+----+---+----+
|  Q|NULL|  4|   5|
|  P|   4|  2|NULL|
+---+----+---+----+